.name{
    color: rgb(255, 183, 0);
    
}
body{
    font-family: 'Redressed', cursive;
}
.division{
    width: 40%;
    float: left;
    /* margin: 1%; */
    padding: 5%;
}
.division img{
    width: 100%;
    /* size: 100%; */
}
h1{
    font-size: 60px;
}
p{
    font-size: 20px;
}