.name{
    color: rgb(255, 183, 0);
    
}
body{
    margin: 0;
    font-family: 'Redressed', cursive;
}
.division{
    width: 40%;
    float: left;
    /* margin: 1%; */
    padding: 5%;
}
.division img{
    width: 100%;
    /* size: 100%; */
}
h1{
    font-size: 60px;
}
p{
    font-size: 20px;
}
.hire{
    
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;

    text-decoration: none;
    color: rgb(83, 25, 25);
 background-image: linear-gradient(45deg,lightsalmon,tomato)
 
    
}
.division2{
    width: 40%;
    float: left;

}
.division2 img{
    width: 100%;

}
section{margin: 0;
padding: 100px;
height: 500px;
}
